@model WebStore.Models.Employee

<div class="container">
    <h3>Employee</h3>

    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.Id</dd>

        <dt>LastName</dt>
        <dd>@Model.LastName</dd>

        <dt>FirstName</dt>
        <dd>@Model.FirstName</dd>

        <dt>Patronymic</dt>
        <dd>@Model.Patronymic</dd>

        <dt>Age</dt>
        <dd>@Model.Age</dd>
    </dl>
    
    <hr/>
    
    <a asp-controller="Employees" asp-action="Index" >К списку</a>
</div>