@using Microsoft.CodeAnalysis.Differencing
@using WebStore.Domain.Entities.Identity
@model IEnumerable<WebStore.Domain.Models.Employee>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<div class="container">
@if (User.IsInRole(Role.Admin))
    {
         <div>
         <a asp-action="Create" class="btn btn-primary">Создать</a>
         </div>
    }

     <table class="table">
        <thead>
            <tr>
                <th >#</th>
                <th >LastName</th>
                <th >FirstName</th>
                <th >Patronymic</th>
                <th >Age</th>
                @if (User.IsInRole(Role.Admin))
                {
                    <th ></th>
                    <th ></th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach(var emp in Model)
            { 
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.LastName</td>
                    <td>@emp.FirstName</td>
                    <td>@emp.Patronymic</td>
                    <td>@emp.Age</td>
                    <td>
                        <a asp-action="More" asp-route-id="@emp.Id">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </td>
                    @if (User.IsInRole(Role.Admin))
                    {
                        <td><a asp-controller="Employees" asp-action="Edit"  asp-route-id="@emp.Id">Edit</a></td>
                        <td><a asp-controller="Employees" asp-action="Delete"  asp-route-id="@emp.Id" class="btn btn-danger">Remove</a></td>
                    }
                   
                </tr>                
            }
        </tbody>
    </table>
        </hr>
       <a href="~/">Back</a>
 </div>

 